.genrebutton {
  background-color: #232323;
  color: #ffffff;
  padding: 10px;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.genrebutton.selected {
  background-color: #007BFF;
  color: #fff;
}

.genrediv {
  text-align: left;
  padding: 10px;
}